<configuration>
    <statusListener class="com.aermini.libs.logback.core.status.NopStatusListener"/>
    <appender name="NOP" class="com.aermini.libs.logback.core.helpers.NOPAppender"/>
    <root level="OFF">
        <appender-ref ref="NOP"/>
    </root>
    <logger name="com.aermini" level="OFF"/>
    <logger name="com.aermini.libs" level="OFF"/>
    <logger name="br.com.azalim" level="OFF"/>
    <logger name="org.xbill.DNS" level="OFF"/>
</configuration>
